div > h1 {
    color: #09b3bf;
}

body > div > div > ol > li {
    margin: 0 5px;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }
}

body {
    background-image: url('../img/bg.jpg');
    background-repeat: repeat-y;
}

div > h1 {

    color: #fff;
    font-family: ‘Ubuntu’, sans-serif;
}

body > div > nav > div > a > h4 {
    color: #fff;
    font-family: ‘Ubuntu’, sans-serif;
}

.article-block {
    background: #fff;
    color: #383838;
    font-family: ‘Ubuntu’, sans-serif;
    box-shadow: 2px 2px 1px #ccc;
    padding: 10px;
    margin: 10px;
}

.article-block a {
    color: #383838;
    font-family: ‘Ubuntu’, sans-serif;
}

body > div > div > ol > li {
    margin: 0 5px;
}

div.container-image > img {
    width: 100%;
}

.info {
    background: #fff;
    color: #383838;
    font-family: ‘Ubuntu’, sans-serif;
    box-shadow: 2px 2px 1px #ccc;
    padding: 10px;
    margin: 10px;
}

.content_block {
    background: white;
    box-shadow: 2px 2px 1px black;
    padding: 10px;
}

.post_title {
    font-size: 52pt;
}

.post_date {
    font-size: 8pt;
    margin-top: -7px;
    color: #6c757d;
}

.post_info {
    margin-left: 10px;
    font-family: "Trebuchet MS", sans-serif;
}